<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ include file="Vector{T}Helper.ttinclude" #>
<#@ output extension=".gen.cs" #>
<#
var code = GenerateVectorType(4);
#>
using System.Diagnostics;
using System.Numerics;
using System.Runtime.CompilerServices;

namespace Misaki.HighPerformance.Mathematics.SPMD;
<#= code #>